@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* WebKit browsers scrollbar modifications */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Firefox scrollbar modifications */
* {
  scrollbar-color: #555 #1a1a1a;
  scrollbar-width: thin;
}

/* Red glow effect */
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }

  50% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}

/* Gold glow effect */
@keyframes goldPulse {
  0% {
    box-shadow: 0 0 20px rgba(218, 165, 32, 0.6);
  }

  50% {
    box-shadow: 0 0 30px rgba(218, 165, 32, 0.9);
  }

  100% {
    box-shadow: 0 0 20px rgba(218, 165, 32, 0.6);
  }
}

/* Annimations to apply the glow effects */
.animate-glow {
  animation: glowPulse 2.5s ease-in-out infinite;
}

.animate-gold {
  animation: goldPulse 2.5s ease-in-out infinite;
}